{% load static %}

<form
   id='profile-modal'
   method="post"
   enctype="multipart/form-data"
   class='profile-modal'
>
   {% csrf_token %}
   <div class="profile-modal__form">
      {% for input in update_profile_form %}
         {% if forloop.first %}
            {% if user.profile_picture %}
               <img
                  class="profile-modal__img"
                  src="{{ user.profile_picture }}" 
                  alt="profile" 
               >
            {% else %}
               <img
                  class="profile-modal__img"
                  src="{% static 'core/images/profileFoto.png' %}" 
                  alt="profile" 
               >
            {% endif %}
         {% else %}
            <div class="profile-modal__input">
               <b class="">{{ input.label }}</b>
               {{ input }}
            </div>
         {% endif %}
      {% endfor %}
      
      <button class="profile-modal__submit-button" type='submit'>Сохранить</button>
   </div>
</form>
