{% load static %}

<form
   id='profile-modal'
   method="post"
   enctype="multipart/form-data"
   class='profile-modal'
>
   {% csrf_token %}
   <div class="profile-modal__form">
      {% for input in update_profile_form %}
         {% if not forloop.first %}
            <div class="profile-modal__input">
               {{ input.label }}
               {{ input }}
            </div>
         {% else %}
            {{ input }}
            {% if user.profile_picture %}
               <img
                  id="profile-picture"
                  class="profile-modal__image"
                  src="{{ user.profile_picture }}" 
                  alt="profile" 
               >
            {% else %}
               <img
                  id="profile-picture"
                  class="profile-modal__image"
                  src="{% static 'core/images/profileFoto.png' %}" 
                  alt="profile" 
               >
            {% endif %}
         {% endif %}
      {% endfor %}
      
      <button class="profile-modal__submit-button" type='submit'>Сохранить</button>
   </div>
</form>
