@import '/static/core/less/main.less';

.auth-page {

   &__content {
      .flexible(center, center);
   }

   &__toogle {
      .position(absolute, @top: -50px, @right: -50px);

      width: 140px;
      height: 140px;
      background-color: @primary-color;
      border-radius: 40px;

      cursor: pointer;

      .flexible(center, center);

      &-icon {
         color: @white-color;
         font-size: 50px;

         display: flex;
      }
   }

   &__form {
      .position(relative);

      width: 100%;
      max-width: 500px;

      background-color: @white-color;
      padding: 60px;
      border-radius: 40px;
      box-shadow: 1px 1px 40px @lighted-color;

      .flexible(@flex-direction: column, @gap: 30px);

      &-title {
         font-size: 35px;
         font-weight: bold;
      }

      &-input {
         width: 100%;

         font-size: 20px;

         .flexible(@flex-direction: column, @gap: 10px);

         &-title {
            font-weight: bold;
         }

         &-data {
            width: 100%;
            .border(solid, @lighted-color, 2px, 12px);
            padding: 16px 20px;

            &::placeholder {
               color: @lighted-color;
               font-weight: 300;
            }
         }
      }


      &-links {
         width: 100%;

         .flexible(center, center, column, @gap: 5px);

         &-button {
            width: 100%;
            padding: 15px;
            background-color: @secondary-color;
            .border(solid, transparent, 2px, 12px);

            color: @white-color;
            font-size: 20px;

            transition: all @default-transition-settings;
         }

         &-button:active {
            background-color: @primary-color;
         }

         &-link {
            width: 124px;
            background-color: transparent;

            font-size: 18px;
            text-decoration: underline;
         }
      }
   }
}