{% extends 'core/blocks/CreateSideBar.html' %}
{% load static %}

{% block side-bar-title %}Название теста{% endblock %}

{% block side-bar-description %}Описание теста{% endblock %}

{% block side-bar-content %}
  <button
    id="add-question-button"
    class="create-test-side-bar__button"
  >
    <i class="bi bi-plus create-test-side-bar__button-icon"></i>
    <span>Вопрос</span>
  </button>

  <button
    id="add-answer-button"
    class="create-test-side-bar__button create-test-side-bar__button--disabled"
    disabled
  >
    <i class="bi bi-plus create-test-side-bar__button-icon"></i>
    <span>Ответ</span>
  </button>

  <button
    id="toggle-answer-type-button"
    class="create-test-side-bar__toggle-button create-test-side-bar__toggle-button--disabled"
    disabled
  >
    Поменять тип вопроса
  </button>

  <button
    id="delete-question-button"
    class="create-test-side-bar__delete-button"
  >
    Удалить вопрос
  </button>

  <div class="create-test-side-bar__text">
    <span class="create-test-side-bar__text-light">Количество вопросов:</span>
    <input
      id="questions-amount"
      name="questions-amount"
      class="create-test-side-bar__text"
      value="0"
      disabled
    />
  </div>
{% endblock %}

{% block side-bar-button-text %}Cохранить тест{% endblock %}
