{% extends 'core/blocks/CreateSideBar.html' %}
{% load static %}

{% block side-bar-title %}Название курса{% endblock %}

{% block side-bar-description %}Описание курса{% endblock %}

{% block side-bar-content %}
  <button id="add-test-button" class="create-course-side-bar__button">
    <i class="bi bi-plus create-course-side-bar__button-icon"></i>
    <span>Тест</span>
  </button>

  <button id="add-group-button" class="create-course-side-bar__button">
    <i class="bi bi-plus create-course-side-bar__button-icon"></i>
    <span>Группа</span>
  </button>
{% endblock %}

{% block side-bar-button-text %}Cохранить курс{% endblock %}
