{% load static %}

<div class="header">
  <div class="header__logo">
    <b><span>Jo Tests</span></b>
    <img
      class="header__logo-image"
      src="{% static 'core/images/logo.webp' %}"
      alt="header logo"
    />
  </div>

  <div id="header-tabs" class="header__tabs">
    {% for tab in header %}
      <a class="header__tab" href="{% url tab.url_name %}">
        <i class="{{ tab.icon_name }} header__tab-icon"></i>
        <span>{{ tab.name }}</span>
      </a>
    {% endfor %}

    <a class="header__logout-button" href="{% url 'logout' %}">Выйти</a>
  </div>
</div>
