{% load static %}
<div class="info-side-bar">
  <div class="info-side-bar__header">
    <span class="info-side-bar__title"></span>
    <span class="info-side-bat__text info-side-bat__text--lighted"></span>
  </div>

  <div class="info-side-bar__content">
    <div class="info-side-bar__time-created">
      <span class="info-side-bat__text info-side-bat__text--lighted">
        Дата создания
      </span>
      <span class="info-side-bat__text"></span>
    </div>

    <div class="info-side-bar__time-updated">
      <span class="info-side-bat__text info-side-bat__text--lighted">
        Дата редактирования
      </span>
      <span class="info-side-bat__text"></span>
    </div>

    <div class="info-side-bar__buttons"></div>
      {% for button in info %}
      <a
        class="info-side-bar__button info-side-bar__button--{{ button.color }}"
        href="{% url button.url %}"
      >
        <i class="{{ button.icon }} info-side-bar__button-icon"></i>
        <span>{{ button.text }}</span>
      </a>
      {% endfor %}
    </div>
  </div>

  <img
    class="info-side-bar__defult-image"
    src="{% static 'core/images/sideBarImage.webp' %}"
    alt="side bar image"
  />
</div>
