{% extends 'core/blocks/SideBar.html' %}
{% load static %}

{% block side-bar-content %}
  <div class="info-side-bar__time-created">
    <span class="info-side-bar__text info-side-bar__text--lighted">
      Дата создания:
    </span>
    <span id="side-bar-time-created" class="info-side-bar__text"></span>
  </div>

  <div class="info-side-bar__time-updated">
    <span class="info-side-bar__text info-side-bar__text--lighted">
      Дата редактирования:
    </span>
    <span id="side-bar-time-updated" class="info-side-bar__text"></span>
  </div>

  <div class="info-side-bar__buttons">
    {% for button in info %}
    <a
      class="info-side-bar__button info-side-bar__button--{{ button.color }}"
      href="{{ button.url_name }}"
    >
      <i class="{{ button.icon_name }} info-side-bar__button-icon"></i>
      <span>{{ button.name }}</span>
    </a>
    {% endfor %}
  </div>
{% endblock %}
