{% extends 'core/blocks/SideBar.html' %}
{% load static %}

{% block side-bar-content %}
  <div class="pass-test-side-bar__conditions">
    <div class="pass-test-side-bar__condition">
      <span>
        Дата тестирования:
      </span>
      <span id="test-date" class="pass-test-side-bar__condition-date"></span>
    </div>

    <div class="pass-test-side-bar__condition">
      <span>
        Количество вопросов:
      </span>
      <span id="test-questions-amount" class="pass-test-side-bar__condition-date"></span>
    </div>

    <div class="pass-test-side-bar__condition"> 
      <span>
        Осталось времени:
      </span>
      <span id="test-time" class="pass-test-side-bar__condition-date"></span>
    </div>
  </div>
{% endblock %}

{% block side-bar-buttons %}
  <button
    id="submit-button"
    type="submit"
    class="pass-test-side-bar__complete-button"
  >
    Завершить тест
  </button>
{% endblock %}
