{% load static %}

<div class="testing-side-bar">
  <div class="testing-side-bar__header">
    <span>
      Коллоквиум - Дискретная математика
    </span>
    <span class="testing-side-bar__header-description">
      Проверка знания предмета по темам - графы, алгебра логики
    </span>
  </div>

  <div class="testing-side-bar__conditions">

    <div class="testing-side-bar__condition">
      <span>
        Дата тестирования:
      </span>
      <span class="testing-side-bar__condition-date">
        15.15.2022
      </span>
    </div>

    <div class="testing-side-bar__condition">
      <span>
        Пройти тест до:
      </span>
      <span class="testing-side-bar__condition-date">15.20.2022</span>
    </div>

    <div class="testing-side-bar__condition">
      <span>
        Количество вопросов:
      </span>
      <span class="testing-side-bar__condition-date">
        25
      </span>
    </div>

    <div class="testing-side-bar__condition"> 
      <span>
        Осталось времени:
      </span>
      <span class="testing-side-bar__condition-date">
        60:00
      </span>
    </div>
  </div>

  <div class="testing-side-bar__buttons">
    <a class="testing-side-bar__buttons-save">
      Сохранить тест
    </a>
    <a class="testing-side-bar__buttons-complete">
      Завершить тест
    </a>
  </div>
  
</div>