{% extends 'core/blocks/SideBar.html' %}
{% load static %}

{% block side-bar-content %}
  {% for group in groups %}
    <div class="test-results-side-bar__group-wrapper">
      <div class="test-results-side-bar__group-header">
        <span>{{ group.groupname }}</span>
        <i
          id="{{ group.index }}-icon"
          class="bi bi-chevron-down test-results-side-bar__group-icon"
        ></i>
      </div>
      <div id="{{ group.index }}-results" class="test-results-side-bar__group"></div>
    </div>
  {% endfor %}
{% endblock %}
