{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'Courses/less/CoursesPage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/InfoSideBar.less' %}" />
{% endblock %}

{% block modal %}
  {% include 'core/modals/AlertModal.html' %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with header=header %}
{% endblock %}

{% block left-side-bar %}
  {% include 'core/blocks/InfoSideBar.html' with side_bar_name='course' info=info %}
{% endblock %}

{% block content %}
  {% if not courses %}
    <span class="courses-page__placeholder">Курсов пока нет...</span>
  {% endif %}

  {% for course in courses %}
    <div class="courses-page__course">
      <div class="courses-page__course-text">
        <span class="courses-page__course-title">{{ course.title }}</span>
        <span class="courses-page__course-description">{{ course.description }}</span>
      </div>

      <div class="courses-page__course-progress">
        <span>Прогресс курса</span>

        <div class="courses-page__progress-bar-wrapper">
          <div class="courses-page__progress-bar">
            <div class="courses-page__progress-bar-percents"></div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block script-files %}
  {{ json_courses|json_script:"data-courses" }}
  <script type="text/javascript" src="{% static 'core/js/InfoSideBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'Courses/js/CoursesPage.js' %}"></script>
{% endblock %}
