{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'Courses/less/CreateCoursePage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/CreateSideBar.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/AlertModal.less' %}" />
{% endblock %}

{% block modal %}
  {% include 'core/modals/AlertModal.html' %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with header=header %}
{% endblock %}

{% block left-side-bar %}
  {% include 'core/blocks/CreateCourseSideBar.html' %}
{% endblock %}

{% block content %}
  <form
    id="form"
    class="create-course-page__form"
    method="POST"
  >
    {% csrf_token %}
    {{ form }}
    <div class="create-course-page__tests-wrapper">
      <span class="create-course-page__form-title">Тесты</span>  
      <div class="create-course-page__tests">
        
        <div class="create-course-page__test">
          <span>Виды сортировок</span>
          <span>20 баллов</span>
          <button class="create-course-page__remove-button">
            <i class="bi bi-x-circle create-course-page__remove-icon"></i>
          </button>
        </div>

      </div>
    </div>

    <div class="create-course-page__groups-wrapper">
      <span class="create-course-page__form-title">Группы</span>
      <div class="create-course-page__groups">

        <div class="create-course-page__group">
          <span>МКМб-22-1</span>
          <button class="create-course-page__remove-button">
            <i class="bi bi-x-circle create-course-page__remove-icon"></i>
          </button>
        </div>

      </div>
    </div>
  </form>
{% endblock %}

{% block script-files %}
  <script type="text/javascript" src="{% static 'Courses/js/CreateCoursePage.js' %}"></script>
{% endblock %}
