@import '/static/core/less/main.less';

.tests-page {
  &__content {
    .flexible(center, flex-start, column, @gap: 20px);
  }

  &__search {
    position: relative;

    padding: 20px;
    width: 100%;
    background-color: @white-color;
    border-radius: 20px;

    &-input {
      padding-right: 30px;
      width: 100%;
      background-color: transparent;

      color: @primary-color;
      font-size: 25px;

      &::placeholder {
        color: @lighted-color;
      }
    }

    &-icon {
      .position(absolute, @right: 20px, @top: 22px);

      color: @lighted-color;
      font-size: 25px;

      display: flex;

      transition: color @default-transition-settings;
    }
  }

  &__tests {
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    .flexible(center, flex-start, column, @gap: 10px);
  }

  &__placeholder {
    width: 100%;
    height: 100%;

    color: @primary-color;
    font-size: 25px;

    .flexible(center, center);
  }

  &__test {
    padding: 15px 30px;
    width: 100%;
    background-color: @white-color;
    border-radius: 20px;

    opacity: @disable-opacity;

    cursor: pointer;

    .flexible(flex-start, flex-start, column, @gap: 4px);

    transition: opacity @default-transition-settings;

    &-title {
      color: @black-color;
      font-size: 25px;
    }

    &-description {
      color: @lighted-color;
      font-size: 18px;
    }

    &--active {
      .border(solid, @primary-color, 1px, 20px);

      opacity: 1;
    }
  }
}