@import '../main.less';

.info-side-bar {
  padding: 30px 20px;
  width: 400px;
  height: 100%;
  background-color: @white-color;
  border-radius: 20px;

  .flexible(stretch, flex-start, column, @gap: 20px);

  &__header {
    .flexible(flex-start, flex-start, column, @gap: 8px);
  }

  &__content {
    .flexible(flex-start, flex-start, column, @gap: 30px);
    display: none;
  }

  &__title {
    color: @black-color;
    font-size: 25px;
  }

  &__text {
    color: @black-color;
    font-size: 18px;

    &--lighted {
      color: @lighted-color;
    }
  }

  &__time-created,
  &__time-updated {
    .flexible(flex-start, flex-start, column, @gap: 4px);
  }

  &__buttons {
    .flexible(flex-start, flex-start, column, @gap: 10px);
  }

  &__button {
    font-size: 20px;

    .flexible(center, flex-start, @gap: 8px);

    &-icon {
      display: flex;
    }

    &--primary {
      color: @primary-color;
    }

    &--success {
      color: @success-color;
    }

    &--danger {
      color: @danger-color;
    }
  }

  &__image {

    &-wrapper {
      width: 100%;

      .flexible(center, center);
    }

    height: 300px;
  }
}