@import '/static/core/less/main.less';

@keyframes openModal {
   0% {
      opacity: 0;
      transform: scale(0.9)
   };
   100% {
      opacity: 1;
      transform: scale(1)
   }
}

@keyframes closeModal {
   0% {
      opacity: 1;
      transform: scale(1)
   };
   100% {
      opacity: 0;
      transform: scale(0.9)
   }
}

.profile-modal {
   .flexible(@align-items: center, @flex-direction: column, @gap: 20px);
   width: 100%;
   max-width: 500px;

   padding: 30px;
   border-radius: 20px;
   background-color: @white-color;

   &__form {
      align-self: center;
      justify-self: center;
      width: 100%;
      max-width: 500px;

      animation: openModal @default-animation-settings;
   }

   &-input {
      .flexible(@flex-direction: column, @gap: 5px);
      width: 100%;

      font-size: 20px;
      color: @primary-color; 
      
      &--lighted {
         width: 100%;
         padding: 12px 20px;

         color: @black-color;
         .border(
         @border-style: solid,
         @border-color: @lighted-color,
         @border-widths: 2px,
         @border-radii: 12px,
         ); 
      }
   }

   &-button {
      font-size: 20px;
      width: 100%;
      padding: 15px;

      background-color: @secondary-color;
      color: @white-color;
      border-radius: 12px;   

      transition: all @default-transition-settings;
   }

   &-button:active {
      background-color: @primary-color;
   }

}

