{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'Tests/less/InspectTestPage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/SideBar.less' %}" />
  
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with header=header %}
{% endblock %}

{% block left-side-bar %}
  
{% endblock %}

{% block content %}
  <div id="questions" class="pass-test-page__questions">
  </div>
{% endblock %}

{% block script-files %}
  {{ current_user|json_script:"data-user" }}
  {{ json_test|json_script:"data-test" }}
  {{ json_questions_info|json_script:"data-questions" }}
  <script type="text/javascript" src="{% static 'Tests/js/InspectTestPage.js' %}"></script>
  <script type="text/javascript" src="{% static 'Tests/js/PassTestPage.js' %}"></script>
{% endblock %}
