{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'Tests/less/PassTestPage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/SideBar.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/PassTestSideBar.less' %}" />
{% endblock %}

{% block modal %}
  {% include 'core/modals/AlertModal.html' %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with header=header %}
{% endblock %}

{% block left-side-bar %}
  {% include 'core/blocks/PassTestSideBar.html' %}
{% endblock %}

{% block content %}
  <form
    id="questions"
    class="pass-test-page__questions"
    method="POST"
  >
    {% csrf_token %}
  </form>
{% endblock %}

{% block script-files %}
  {{ json_test|json_script:"data-test" }}
  {{ json_questions_info|json_script:"data-questions" }}
  <script type="text/javascript" src="{% static 'Tests/js/PassTestPage.js' %}"></script>
{% endblock %}
