{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'Tests/less/TestsPage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/blocks/InfoSideBar.less' %}" />
{% endblock %}

{% block modal %}
  {% include 'core/modals/AlertModal.html' %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' with header=header %}
{% endblock %}

{% block left-side-bar %}
  {% include 'core/blocks/InfoSideBar.html' with side_bar_name='test' info=info %}
{% endblock %}

{% block content %}
  <div class="tests-page__search">
    <input
      id="search-input"
      class="tests-page__search-input"
      placeholder="Поиск по названию"
    />
    <i id="search-icon" class="bi bi-search tests-page__search-icon"></i>
  </div>

  <div class="tests-page__tests">
    {% if not tests %}
      <span class="tests-page__placeholder">Тестов пока нет...</span>
    {% endif %}

    {% for test in tests %}
      <div class="tests-page__test">
        <span class="tests-page__test-title">{{ test.title }}</span>

        <span class="tests-page__test-description">{{ test.description }}</span>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script-files %}
  {{ json_tests|json_script:"data-tests" }}
  <script type="text/javascript" src="{% static 'core/js/InfoSideBar.js' %}"></script>
  <script type="text/javascript" src="{% static 'Tests/js/TestsPage.js' %}"></script>
{% endblock %}
