{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'core/less/styles/HeaderBlock.less' %}" />
  <link rel="stylesheet/less" href="{% static 'Profile/less/ProfilePage.less' %}" />
  <link rel="stylesheet/less" href="{% static 'core/less/styles/AlertModal.less' %}" />
{% endblock %}

{% block modal %}
  {% include 'core/modals/AlertModal.html' %}
{% endblock %}

{% block header %}
  {% include 'core/blocks/HeaderBlock.html' %}
{% endblock %}

{% block left-side-bar %}
  {% for cell in cells %}
    <div class="profile-page__cell" id='cell'>
      <span>{{ cell.name }}</span>
      <i class="bi bi-chevron-right profile-page__cell-icon"></i>
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class='profile-page__form' id='form'>
    {% csrf_token %}

    <div class="profile-page__form-header">
      <img src="{% static 'core\images\profileFoto.png' %}" 
          alt="profile" 
          class="profile-page__form-img">
      <div class="profile-page__form-edit">
        {{ user.username }}
        <button class= "profile-page__button" type="submit">Редактировать</button>
      </div>
    </div>
    
    <input class='profile-page__form-input' 
    type="text" name="username" id="id_username" 
    value="{{ user.username }}" placeholder="Логин">

    <input class='profile-page__form-input'
    type="text" name="first_name" id="id_first_name" 
    value="{{ user.first_name }}" placeholder="Имя">

    <input class='profile-page__form-input' 
    type="text" name="last_name" id="id_last_name" 
    value="{{ user.last_name }}" placeholder="Фамилия">

  </form>

  <div class="profile-page__results" id='results'>

    <div class="profile-page__results-test">
      <div class="test-name">
        <i class="bi bi-check2"></i>
        Холодная война
      </div>   
      <div class="test-name">
        13/20
        <button class= "profile-page__button" type="submit">Просмотреть</button>
      </div> 
    </div>
    
  </div>

{% endblock content %}

{% block script-files %}
  <script type="text/javascript" src="{% static 'Profile/js/ProfilePage.js' %}"></script>
{% endblock %}
