{% extends 'core/pages/PageLayout.html' %}
{% load static %}

{% block style-files %}
  <link rel="stylesheet/less" href="{% static 'auth\less\auth.less' %}" />
{% endblock %}

{% block content %}
  <div class="auth-page__form">
    <a class="auth-page__toogle">
      <i class="bi bi-person-plus auth-page__toogle-icon"></i>
    </a>

    <h1 class="auth-page__form-title">Авторизация</h1>
    <div class="auth-page__form-input">
      <b class="auth-page__form-input-title">Логин</b>
      <input
        class="auth-page__form-input-data"
        type="text"
        placeholder="Ваш логин"
      />
    </div>
    <div class="auth-page__form-input">
      <b class="auth-page__form-input-title">Пароль</b>
      <input
        class="auth-page__form-input-data"
        type="text"
        placeholder="Ваш пароль"
      />
    </div>
    <div class="auth-page__form-links">
      <button class="auth-page__form-links-button">войти</button>
      <select id="selection" class="auth-page__form-links-link">
        <option value="student">как студент</option>
        <option value="teacher">как преподаватель</option>
        <option value="author">как автор</option>
      </select>
    </div>
  </div>
{% endblock content %}

{% block script-files %}
  <script type="text/javascript" src="{% static 'auth/js/auth.js' %}"></script>
{% endblock %}
